/* DEFINE COLOURS */
:root {
    --main-colour: linear-gradient(45deg, gray 0%, black 100%);
    --main-gray: #303841;
    --trans-gray: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --main-light: blanchedalmond; 
    --main-white: white;
    --sub-gray: rgb(49, 47, 47);
}

/* MOBILE DISPLAY  SETTINGS */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}
  
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
}
  
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
}
  

* {
    margin: 0;
    padding: 0;
    
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    background-color: var(--main-gray);
}

img {
    display: block;
    width: 100%;
}               

/*TEXT STYLES*/
h3 {
    font-size: 25px;
    font-weight: 400;
    color: var(--main-light);
}

p{
    font-size: 17px;
    font-weight: 200;
    color: var(--main-white);
    justify-self: center;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
li{
    color: var(--main-white);

}

/* SCROLL STYLE */
.js-scroll{
    opacity: 0;
    transition: opacity 1500ms;
    
}

.js-scroll.scrolled{
    opacity: 1;
    
}

/* NAV BAR */
.navbar{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, gray 0%, black 100%);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}


.nav-buttons{
    display: flex;
    margin: 0 10px;
    font-size: 18px;
    
}

.nav-buttons a{
    display: block;
    padding: 15px;
    color: white;
}

.nav-buttons a:hover{
    background-color: blanchedalmond;
    color: black;
}

@media (max-width: 28.75em) {
    .navbar {
      justify-content: center;
    }
  
    .nav-buttons {
      margin: 0 1rem;
    }
}

/*HEADERS*/
.section-header{
    padding: 0%;
}
  

/* WELCOME SECTION */
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-gray);
    background-image: var(--trans-gray);
}
.name-tag{
    font-size: 40px;
    font-weight: 500;
    color: var(--main-light);
    transform: translateY(0);
    transition: transform 0.3s ease-out;    
}

.name-tag:hover{
    transform: translateY(-1.5px);
    text-shadow: 4px 4px #6d1f15;
}

.name-hover{
    color: rgba(0,0,0,0);
    font-size: 20px;
    transition: color 0.3s ease-out;
    position: relative;
    bottom: 20px;
}

.name-tag:hover .name-hover{
    color: var(--main-light);
    text-shadow: 1px 1px #6d1f15;
}


.role-tag{
    font-style: italic;
    color: var(--main-white) !important;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
    
}

.role-tag:hover{
    transform: translateY(-1px);
    text-shadow: 4px 4px #6d1f15;
}

.role-hover{
    color: rgba(0,0,0,0);
    transition: color 0.3s ease-out;
    text-align: right;
    position: relative;
    top: 20px;  
}

.role-tag:hover .role-hover{
    color: var(--main-white);
    text-shadow: 1px 1px #6d1f15;
}

/* ABOUT ME SECTION */
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: var(--main-gray);
    padding: 5%;
    
}
.about-me > p{
    padding: 2.5%;
    text-align: center;
}

.about-contact{
    color: var(--main-light);
    text-shadow: 1px 1px #6d1f15;
}


/*PROJECTS SECTION*/
.projects-section{
    text-align: center;
    padding: 10rem 2rem;
    background-color: var(--main-gray);
    background-image: var(--trans-gray);

}

.projects-header{
    max-width: 640px;
    margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
    .projects-header {
      font-size: 4rem;
    }
}

.projects-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
    font-weight: 400;
    transition: color 0.3s ease-out;
}


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;

}

@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
}

.projects-box{
    box-sizing: content-box;
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow-wrap: normal;
    padding: 2%;
}

.projects-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.projects-details{
    color: aliceblue;
    padding: 2%;
}
.projects-details > p{
    padding: 2.5%;
}

.projects-details > h6{
    padding: 2.5%;
}


.selection{
    color: var(--main-gray);
    transition: color 0.3s ease-out;
    padding: 0%;
}

.projects-box:hover .selection{
    color: var(--main-light);

}

.projects-box:hover .projects-title{
    color: var(--main-light);
}

.projects-more{
    padding-top: 5%;
    color: var(--main-light);
}

.button-more{
    font-size: 2rem;
    padding-top: 2%;
    color: var(--main-white);
    transition: transform 0.3s ease-out;;
}

.button-more:hover {
    color: var(--main-light);
}

.button-more > i{
    margin-left: 5px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.button-more:hover > i{
    transform: translateX(5px);
}



/*SKILLS SECTION*/
.skills-section{
    text-align: center;
    background-color: var(--main-gray);
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.skills-list{
    padding: 1.5%;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 0px;
}
.skills-box{
    background: var(--trans-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5%;
    width: 50%;
    text-align: left;
}

.skills-list > ul{
    padding-top: 1%;
}

progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.822);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    
}
::-webkit-progress-value {
    background-color: rgb(44, 85, 172);
}
::-moz-progress-bar {
    background-color: rgb(44, 85, 173);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    
}


.skill-bar{
    padding-bottom: 2%;
}

/*EDUCATION SECTION*/
.education-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: var(--trans-gray);
    padding: 5%;
    
}

.education-box{
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-gap: 4rem;
    width: 95%;
    max-width: 1280px;
    padding-top: 5%;
    
}

.education-details{
    text-align: center;
    box-sizing: content-box;
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow-wrap: normal;
    padding: 1.5%;
}

.education-details > h6{
    color: var(--main-light);
    padding-bottom: 1%;
}
.education-details > h4{
    color: var(--main-light);
}



/*CONTACT SECTION*/
.contact-section{
    background-color: var(--background-colour);
    background-image: var(--trans-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20vh;
    flex-wrap: wrap;

}

.contact-header{
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-link{
    
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    color: var(--main-white);
}

.contact-link:hover{
    transform: translateY(-8px);
    color: var(--main-light);
    
}